.mb-3 {
	width: 420px;
}

.password1_txt_guide {
    /* display: none; */
    padding: 10px 0 9px;
    font-size: 12px;
    color: #666;
    line-height: 18px;
    word-break: break-all;
    letter-spacing: -.1px;
    clear: both;
}

.password1_txt_guide .txt_case1 .txt_case2{
    display: block;
}

.password2_txt_guide {
    /* display: none; */
    padding: 10px 0 9px;
    font-size: 12px;
    color: #666;
    line-height: 18px;
    word-break: break-all;
    letter-spacing: -.1px;
    clear: both;
}

.password2_txt_guide .txt_case1 {
    display: block;
}

.type_form .square .txt:before {
    content: '\2022';
    display: inline-block;
    padding: 0 4px 0 2px;
    font-size: 12px;
    vertical-align: 0;
}

/* #addressSearch {
    display: block;
    overflow: hidden;
    width: 332px;
    height: 44px;
    border: 1px solid #5f0080;
    border-radius: 3px;
    text-align: center;
}

#addressNo {
    display: inline-block;
    height: 100%;
    margin-left: -14px;
    padding-left: 24px;
    font-weight: 700;
    font-size: 14px;
    color: #5f0080;
    line-height: 40px;
    background: url(https://res.kurly.com/pc/service/common/2006/ico_search.svg) no-repeat 0 50%;
    background-size: 25px 24px;
    vertical-align: top;
}
 */
input::placeholder{
    color:rgb(165, 160, 160);
}

/* #field_address input{
    display:none;
    margin-top:10px
} */
