#main{
    border-bottom: 1px solid #f7f7f7;
}


#content{
    min-width: 1050px;
    padding-bottom: 120px;
    position: relative;
}


.page_aticle{
    width: 1050px;
    margin: 0 auto;
}

#lnbMenu{
    padding-top: 26px;
}


#lnbMenu .inner_lnb{
    position: relative;
    padding-left:29px;
}

#lnbMenu .ico_cate{
    overflow: hidden;
    width: 100%;
    height: 50px;
    padding-bottom: 10px;
}

#lnbMenu .ico_cate .ico{
    display: none;
    overflow: hidden;
    float: left;
    width: 40px;
    height: 40px;
}

#lnbMenu .ico_cate .ico img{
    width: 40px;
    height: 40px;
    vertical-align: top;
}



#lnbMenu .ico_cate .tit{
    float: left;
    padding: 20px 0 0 4px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: #000;
    letter-spacing: -.3px;
}

#lnbMenu .list{
    overflow: hidden;
    width: 870px;
}

#lnbMenu li{
    float: left;
}

#lnbMenu li a{
    overflow: hidden;
    float: left;
    padding: 0 13px 7px 12px;
    border-bottom: 1px solid #ddd;
    line-height: 20px;
    font-size: 12px;
    color: #333;
    letter-spacing: -.3px;
    cursor: pointer;

}


#lnbMenu li a:hover, #lnbMenu li .on{
    font-weight: 700;
    color:#1EC800;
}

#lnbMenu li.bg{
    position: absolute;
    top: 78px;
    height: 1px;
    margin-top: -1px;
    background-color: #1EC800;
}

#goodsList .list_ability{
    position: relative;
}

#goodsList .sort_menu{
    position: absolute;
    right: 0;
    top: -33px;
    padding: 0 10px;
}

#goodsList .sort_menu .user_sort{
    float: right;
    width: 130px;
    padding-right: 30px;

}

#goodsList .sort_menu .select_type{
    position: relative;
    z-index: 1;
    height: 44px;

}

#goodsList .sort_menu .user_sort .name_select{
    padding: 8px 13px 13px 0;
    font-size: 12px;
    text-align: right;
    cursor: pointer;
}

#goodsList .sort_menu .name_select{
    display: block;
    overflow: hidden;
    padding: 13px 0 13px 10px;
    font-size: 14px;
    color: #333;
}

#goodsList .sort_menu .name_select::after{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 6px;
    background: url(https://res.kurly.com/pc/service/common/1908/ico_arrow_down_20x20.png) no-repeat 50% 50%;
    background-size: 10px 10px;
    vertical-align: 0;
}


#goodsList .sort_menu .list{
    display: none;
    position: absolute;
    right: 30px;
    top: 36px;
    width: 98px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
}





#goodsList .sort_menu .user_sort .list a.on, #goodsList .sort_menu .user_sort .list a:hover {
    color: #1EC800;
}

#goodsList .sort_menu .list a:hover, #goodsList .sort_menu .list a.on {
    font-weight: 700;
    color: #1EC800;
}

#goodsList .sort_menu .user_sort .list a {
    padding: 13px 18px 11px 0;
    font-size: 12px;
    color: #333;
    text-align: right;
    cursor: pointer;
}

#goodsList .sort_menu .list a {
    display: block;
    overflow: hidden;
    width: 106px;
    height: 44px;
    padding: 13px 0 11px 12px;
    font-size: 14px;
    color: #333;
    white-space: nowrap;
}




#goodsList .list_goods{
    overflow: hidden;
    padding: 0 29px;

}


#goodsList .list_goods .inner_listgoods {
    overflow:hidden;
    width: 990px;
}


#goodsList .list_goods .list {
    overflow: hidden;
    width: 1008px;
}


#goodsList .list_goods li{
    float: left;
    width: 336px;
    height: 643px;
    padding: 25px 28px 0 0;
}

#goodsList .list_goods .item{
    display:block;
    background-color: #fff;
    cursor: pointer;
}

#goodsList .list_goods .thumb{
    display:block;
    position: relative;
    width: 100%;
    height: 396px;
    background-color: #f9f8f9;

}


#goodsList .list_goods .thumb .img{
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#goodsList .list_goods .thumb img{
    width: 100%;
    vertical-align: top;
    transition: all .5s ease-in-out;
}

#goodsList .list_goods .thumb .img::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0,0,0,.08);
}

.global_sticker{
    position: relative;
    z-index: 2;
}

.global_sticker .inner_sticker{
    overflow: hidden;
    position: absolute;
    left: -1px;
    top: -1px;
    height: 32px;
    padding: 0 8px;
    text-align: center;
    white-space: nowrap;
}


.global_sticker .bg_sticker{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 32px;
    background-color: #bd76ff;
    opacity: .9;
}

.global_sticker .txt_sticker{
    position: relative;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
}

.global_sticker .emph_sticker{
    font-weight: 800;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
}


#goodsList .list_goods .thumb .group_btn{
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 45px;
}

.group_btn{
    overflow: hidden;
    width: 100%;
    text-align: center;
}


#goodsList .list_goods .thumb .btn_cart{
    background: url(https://res.kurly.com/pc/ico/2010/ico_cart.svg) no-repeat 50% 50%;
    background-size: 45px 45px;
}

#goodsList .list_goods  .thumb .btn{
    display: block;
    width: 45px;
    height: 45px;
    margin-top: 15px;
    border: 0;
}

.group_btn .btn{
    overflow: hidden;
    float: left;
    width: 150px;
    height: 42px;
    font-size: 13px;
    line-height: 40px;
    text-align: center;
}

button{
    outline: none;
}

.screen_out{
    display: block;
    overflow: hidden;
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}


#goodsList .list_goods .info{
    display:block;
    padding: 14px 0 10px;
}


#goodsList .list_goods .name{
    display: block;
    overflow: hidden;
    max-height: 58px;
    font-weight: 700;
    font-size: 20px;
    color: #333;
    line-height: 29px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}


#goodsList .list_goods .cost{
    display: block;
    padding-top: 7px;
    font-size: 18px;
    line-height: 29px;
}

#goodsList .list_goods .cost .price{
    font-weight: 700;
    color: #333;
}

#goodsList .list_goods .desc{
    display: block;
    padding-top: 8px;
    font-size: 13px;
    color: #666;
    line-height: 19px;
}

#goodsList .list_goods .tag{
    display: block;
    padding: 12px 10px 10px 0;
    cursor: default;
}


.page_aticle .layout-pagination{
    font-size:0;
}

.layout-pagination {
    margin: 60px 0 0;
    text-align: center;
}
.layout-pagination-number {
    font-weight: 700;
    color: #333;
    line-height: 34px;
}

.page_aticle .layout-pagination-first-page:first-child{
    border-left: 1px solid #ddd;
}

.page_aticle .layout-pagination-button:first-child{
    border-left: 0;
}

.page_aticle .layout-pagination a{
    cursor: pointer;
}

.page_aticle .layout-pagination a, .page_aticle .layout-pagination strong{
    font-weight: 700;
    font-size: 12px;
}

.layout-pagination-button:first-child{
    border-left: 1px solid #ddd;
}

.page_aticle button, .page_aticle input, .page_aticle select, .page_aticle * {
    font-family: noto sans;
    font-weight: 400;
    letter-spacing: 0;
}

.layout-pagination-first-page {
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-first.png);
}

.layout-pagination-first-page, .layout-pagination-prev-page, .layout-pagination-next-page, .layout-pagination-last-page {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-indent: -9999px;
}

.layout-pagination-button {
    display: inline-block;
    width: 34px;
    height: 34px;
    border: 1px solid #ddd;
    border-left: 0;
    vertical-align: top;
}


.layout-pagination-prev-page {
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-prev.png);
}

.layout-pagination-number:hover, .layout-pagination-number.__active {
    background-color: #f7f7f7;
    color: #1EC800;
}


.layout-pagination-next-page {
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-next.png);
}


.layout-pagination-last-page {
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-last.png);
}



.layout-pagination .pagediv span strong{
    width: 33px;
    height: 32px;
}


.product-container {
    display: flex; /* 플렉스박스 레이아웃 사용 */
    align-items: center; /* 수직 가운데 정렬 */
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

.product-image {
    flex: 0 0 100px; /* 이미지 영역 너비 조절 */
    margin-right: 10px; /* 이미지와 텍스트 사이 간격 */
}

.product-image img {
    max-width: 100%; /* 이미지 크기 조절 */
    height: auto;
}

.product-details {
    flex: 1; /* 나머지 공간 모두 사용 */
}

.product-name {
    font-size: 18px;
    font-weight: bold;
}

.product-price {
    font-size: 16px;
}