<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>카트</title>
<link rel="stylesheet" href="/order/reset.css">
<link rel="stylesheet" href="/order/cartt.css">
</head>
<body>

	<div class="title">
		<h2>장바구니</h2>
	</div>
	
	
	<div class="cartList">
		
		<div class="cart_item">
			<div class="cart_allselect">
				<input type="checkbox">전체선택 | 
				<a href="#"> 선택삭제</a>
				<hr/>
			</div>
		
			<div class="itemList">
				상품목록
			</div>
		
			<div class="item" th:each="item : ${productList}">
				
			
			</div>
		
		</div>
		
		<div class="select_area">
			
			<div class="list">
				<dl>
				<dt class="name">금액</dt>
				<dd class="content">
				<span>500</span>
				<span>원</span>
				</dd>
				</dl>
			</div>
			<div></div>
		
		
		</div>
	
	</div>



</body>
</html>