<html>
    <head>
        <meta charset="utf-8">
        <script src="http://code.jquery.com/jquery.min.js"></script>
        <title>계정명 찾기</title>
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/login.css">
    </head>

    <body>
        <div id="container" class="container">
		<input type="hidden" id="alertMessage" th:value="${alertMessage}" />
		<script th:inline="javascript">
		    var message = /*[[${alertMessage}]]*/ 'defaultMessage';
		    if (message && message !== 'defaultMessage') {
		        alert(message);
		    }
		</script>
            <div id="main">
                <div id="content">
                    <div class="section_login">
                        <h3 class="tit_login">UserName</h3>
                        <div class="write_form">
                            <div class="write_view login_view">
                                <form th:action="@{/auth/findUserName}" name="login_form" id="form" method="post" onkeydown="runFunctionOnEnter(event)">
                                    <input type="hidden" name="returnUrl" value="">
                                    <input type="hidden" name="close" value>
                                    <input type="text" name="name" size="50" tabindex="1" placeholder="이름 입력">
                                    <input type="text" name="tel" size="50" tabindex="2" placeholder="전화번호 입력">
                                    <input type="email" name="email" size="50" tabindex="3" placeholder="이메일 입력">
                                    <div class="checkbox_save">
                                        <div class="login_search">
                                            <a th:href="@{/wewalk/main}" class="link">메인으로</a>
                                            <span class="bar"></span>
                                            <a th:href="@{/auth/findPwd}" class="link">비밀번호 찾기</a>
                                        </div>
                                    </div>
                                    <button type="button" onclick="check_input()" class="btn_type1">
                                        <span class="txt_type">계정명 찾기</span>
                                    </button>
                                </form>
                                
	                                <a th:href="@{/auth/signup}" class="btn_type2 btn_member">
	                                    <span class="txt_type">회원가입</span>
	                                </a>
                                <div class="social">
	                                
	                                <div th:text="${'소셜 로그인'}"></div>
	                                
	                                <div class="buttons">
		                                <a href="/oauth2/authorization/google">
											<img th:src="@{/images/google.png}"/>
										</a>
										
										<a href="/oauth2/authorization/kakao">
											<img th:src="@{/images/kakao.png}" style="width: 55px; height: 55px; margin-top: 5px"/>
										</a>
										
										<a href="/oauth2/authorization/naver">
											<img th:src="@{/images/naver.png}"/>
										</a>	                                
	                                </div>
                                </div>
        
                            </div>
        
                        </div>
                    </div>
                </div>

            </div>


        </div>

		<script type="text/javascript">
			function runFunctionOnEnter(event) {
	            if (event.key === 'Enter') {
	                event.preventDefault(); // 엔터 키를 눌렀을 때 폼이 자동으로 제출되는 것을 방지합니다.
	                check_input(); // 여기에서 원하는 함수를 호출합니다.
	            }
	        }
		</script>
        <script>       
	        
            function check_input(){
                if (!document.login_form.name.value){
                    alert("이름을 입력하세요");
                    document.login_form.name.focus();
                    return;
                }
                if (!document.login_form.tel.value){
                    alert("전화번호를 입력하세요");
                    document.login_form.tel.focus();
                    return;
                }
                if (!document.login_form.email.value){
                    alert("이메일을 입력하세요");
                    document.login_form.email.focus();
                    return;
                }
               
                document.login_form.submit();
            }
        </script>
    </body>
</html>
