
<html layout:decorate="~{layout}">

<meta charset="UTF-8">

<div layout:fragment="content" class="container my-3">
	<div class="my-3 border-bottom">
		<div>
			<h1>로그인</h1>
		</div>
	</div>
	
	<form th:action="@{/user/login}" method="post">
		
		<div th:if="${param.error}">
			<div class="alert alert-danger">
				사용자ID 또는 비밀번호를 확인해주세요.
			</div>
		</div>	
		
		<div class="mb-3">
			<label for="userName" class="form-label">사용자명</label>
			<input type="text" name="username" id="userName" class="form-control"/>
		</div>
		
		<div class="mb-3">
			<label for="password" class="form-label">비밀번호</label>
			<input type="password" name="password" id="password" class="form-control"/>
		</div>
			
		<button type="submit" class="btn btn-primary">로그인</button>
		
		<a href="/oauth2/authorization/google">
			<img th:src="@{/images/google.png}"/>
		</a>
		
		<br/>
		
		<a href="/oauth2/authorization/kakao">
			<img th:src="@{/images/kakao.png}"/>
		</a>
		
		<br/>
		
		<a href="/oauth2/authorization/naver">
			<img th:src="@{/images/naver.png}"/>
		</a>
		
		<br/><br/>
		
		<a href="/logout">logout</a>
	</form>
</div>

</html>