
<html layout:decorate="~{layout}">

<meta charset="UTF-8">

<div layout:fragment="content" class="container my-3">
	<div class="my-3 border-bottom">
		<div>
			<h1>테스트페이지</h1>
		</div>
	</div>
	
	<form th:action="@{/order/detail}" method="post">
		
		
		<div class="mb-3">
			<label for="productName" class="form-label">물건종류</label>
			<input type="text" name="productName" class="form-control"/>
		</div>
		
		<div class="mb-3">
			<label for="count" class="form-label">갯수</label>
			<input type="text" name="count" class="form-control"/>
		</div>
		
		<div class="mb-3">
			<label for="price" class="form-label">가격</label>
			<input type="text" name="price" class="form-control"/>
		</div>
		
		<button type="submit" class="btn btn-primary">구매</button>
		
	</form>
</div>

</html>