<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품문의 폼 </title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/mykurly_order_list.css">
    <link rel="stylesheet" href="/mykurly_review.css">
    <link rel="stylesheet" href="/mykurly_review_register.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="./js/mykurly.js"></script>
    <script src="../main/js/common.js"></script>
    
    
    
    <link rel="stylesheet" href="/header/header.css">
    <script src="/header/header.js"></script>
    
    <script type="text/javascript">
    
    function chkword_name(obj){                      // 상품명 글자수 제한 두기
        var strValue = obj.value;         //strValue : 글자수 값을 저장하기 위한 변수
        var strLen = strValue.length;     //strLen : strValue 값의 길이
        var totalByte = 0;                //글자수 총합
        var len = 0;
        var oneChar = "";
        var str2= "";

        for (var i = 0; i < strLen; i++){
            oneChar = strValue.charAt(i);             //oneChar : 문자 값 리턴 받는 함수
            if(escape(oneChar).length > 4) {          //한글이면 글자수 + 2
                totalByte += 2;
                $('.field_cmt .txt_count .num').text(totalByte);
            } else {                                   //그외(숫자,영어)는 +1
                totalByte++;
                $('.field_cmt .txt_count .num').text(totalByte);
            }

            len = i+1;

        }

        if (strLen == 0){
            $('.field_cmt .txt_count .num').text(0);
        }

        
    }
    

    function submit_check(){    // 10자 이하로 작성할시 submit 안됨
        var chkword = $('.field_cmt textarea').val();

        if (chkword.length < 10){
            alert("후기를 최소 10자 이상 작성해주세요");
            return false;
        }
    }
    </script>
    
<title>Insert title here</title>
</head>
<body>

<div th:insert="header :: headerFragment"></div>
<br/>
<br/>
<br/>
<br/>

<div class="page_section section_write" style="display: flex; align-items: center; flex-direction: column;">
	<div class="head_aticle">
	    <h2 class="tit">상품 문의 작성</h2>
	</div>
	<br/>
	<br/>
	<br/>
	<!-- <form name="form_review" id="form_review" action="" method="POST" onsubmit="return submit_check();"> -->
	
	
	<!-- 여기부터 form 내가 작성, 수정필요 여기 ReviewForm 아닌 소문자인것 주의 -->
	<form th:object="${questionForm}" action="" method="post" name="form_review" id="form_review" onsubmit="return submit_check();" enctype="multipart/form-data">
	    <!-- <input type="hidden" th:name="${_csrf.parameterName}"   
	th:value="${_csrf.token}"/> -->
	    
	    
	    <div class="write_board">
	        <div class="goods_info">
	            <div class="thumb">
	            <!-- 나중에 상품 이미지 뜨도록 설정  -->
	                <img th:src="@{'/product/images/' + ${product.image}}"
	                onerror="this.src='https://res.kurly.com/mobile/img/1808/img_none_x2.png'" alt="상품 이미지">
	            </div>
	
	            <div class="desc">
	                <div class="inner_desc">
	                    <div class="name_main">[상품명]</div>
	                    <textarea rows="10" cols="" th:field="${product.pname}" readonly="readonly"></textarea>
	                    <!-- 여기 productNo 가 자동으로 들어 와야함   -->
	                    <!-- 근데 여기 입력된 값을 가지고 가야함 ?? form 에 들어가야 ??  -->
	                    
	                </div>
	            </div>
	        </div>
	
	        <table class="tbl">
	            <colgroup>
	                <col style="width:110px;">
	                <col style="width:auto;">
	            </colgroup>
	            <tbody>
	                <tr>
	                    <th>제목</th>
	                    <td>
	                       
	                        <!-- 원) <input type="text" name="subject" placeholder="제목을 입력해주세요." class="inp on_txt" value=""> -->
	                        
	                        <input type="text" th:field="*{title}" name="subject" placeholder="제목을 입력해주세요." class="inp on_txt" value="" />
	                    </td>
	                </tr>
	
	                <tr>
	                    <th>상품 문의 작성</th>
	                    <td>
	                        <div class="field_cmt">
	                            <!-- 원) <textarea id="fieldCmt" name="contents" cols="100" rows="10" onkeyup="chkword_name(this)"  placeholder="자세한 후기는 다른 고객의 구매에 많은 도움이 되며,
	일반식품의 효능이나 효과 등에 오해의 소지가 있는 내용을 작성 시 검토 후 비공개 조치될 수 있습니다. 
	반품/환불 문의는 1:1문의로 가능합니다." class="on_txt" style="height: 202px;" ></textarea> -->
	                            
	<textarea id="fieldCmt" name="contents" cols="100" rows="10" onkeyup="chkword_name(this)"  
	placeholder="상품문의 작성 전 확인해주세요. 답변은 영업일 기준 2-3 일 소요됩니다. 
-배송관련, 주문(취소/교환/환불) 에 관련한 사항은 1:1 문의를 이용해 주세요" class="on_txt" style="height: 202px;" th:field="*{content}" ></textarea>
	
	                            <p class="txt_count">
	                            
	                                <span class="num">0</span>자 / 최소 10자
	                            </p>
	                        </div>
	                    </td>
	                </tr>
	
	                
	            </tbody>
	        </table>
	
	        <p class="link_inquire">
	            혹시 상품에 문제가 있으셨나요?
	            <a href="#">1:1 문의하기</a>
	        </p>
	<!--  
	        <button type="submit" id="btnSubmit" class="btn_reg btn_disabled">등록하기</button>-->
	        <input type="submit" id="btnSubmit"  value="문의 등록" class="btn_reg btn_disabled"/>
	        
	    </div>
	</form>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	
	<div th:replace="footer :: footerFragment"></div>

</div>

</body>
</html>