
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">                 <!-- list 가격 표시하는 곳에 intcomma 로 변경해야 겠음.-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 리스트</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/good_list.css">
    <link rel="stylesheet" href="/header/header.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/common.js"></script>
    <script src="/good_list.js"></script>
    <script src="/header/header.js"></script>

    <SCRIPT LANGUAGE="JavaScript">            
                                            
        if(top.document.location.search != "?mobile") 
        {
                var strGoto = "mobile_good_list.html";             
                var str = window.navigator.userAgent.toLowerCase();
                if(/iphone/.test(str) || /android/.test(str) || /opera/.test(str) || /bada/.test(str) || /iemobile/.test(str) || /lgtelecom/.test(str) || /ppc/.test(str) || /sonyericsson/.test(str) || /sonyericsson/.test(str) || /blackberry/.test(str)){
                 top.document.location.replace(strGoto);
                }
        }
        
    </SCRIPT>
</head>
<body class="noBody">

<div th:insert="header :: headerFragment"></div>
    <div id="container" class="container">

		
        <input type="hidden" id="sort" th:value="${sort} == null ? 'newest' : ${sort}" />
		
        <div id="main">
            <div id="content">
                <div class="page_aticle">
                    <div id="lnbMenu" class="lnb_menu">
                        <!-- <div class="inner_lnb">
                            <div class="ico_cate">
                                <span class="ico" style="display:block;">
                                <img src="https://img-cf.kurly.com/shop/data/category/icon_veggies_active_pc@2x.1586324570.png" id="goodsListIconView" alt="카테고리 아이콘"> </span>
                                <span class="tit">채소</span>
                            </div>

                            <ul class="list">
                                <li name="cate_gory">
                                    <a class="on">전체보기</a>
                                </li>
                                <li name="cate_gory">
                                    <a class=>고구마·감자·당근</a>
                                </li>
                                <li name="cate_gory">
                                    <a class=>시금치·쌈채소·나물</a>
                                </li>
                                <li name="cate_gory">
                                    <a class=>브로콜리·파프리카·양배추</a>
                                </li>
                                <li name="cate_gory">
                                    <a class=>양파·대파·마늘·배추</a>
                                </li>
                                <li name="cate_gory">
                                    <a class=>냉동·이색·간편채소</a>
                                </li>
                                <li name="cate_gory">
                                    <a class=>콩나물·버섯</a>
                                </li>
                                
                                <li class="bg" style="top: 78px; width: 68px; left: 29px; opacity: 1;"></li>                                                                

                            </ul>
                        </div> -->
                    </div>


                    <div id="goodsList" class="page_section section_goodslist">
                        <div class="list_ability">
                            <div class="sort_menu">
                                <div class>
                                    <div class="select_type user_sort">

                                        <a class="name_select" th:text="${sortText}"></a>

                                        <ul class="list checked">
                                            <!-- <li>
                                                <a class="on" >추천순</a>
                                            </li> -->
                                            <li>
                                                <a th:class="${sort == 'newest' || sort == '' ? 'on' : ''}" data-sort="newest"
                                                th:href="@{/wewalk/searchBest(sort='newest')}">신상품순</a>
                                            </li>
                                            <li>
                                                <a th:class="${sort == 'category' ? 'on' : ''}" data-sort="category"
                                                th:href="@{/wewalk/searchBest(sort='category')}">카테고리순</a>
                                            </li>
                                            
                                            <li>
                                                <a th:class="${sort == 'priceAsc' ? 'on' : ''}" data-sort="priceAsc"
                                                th:href="@{/wewalk/searchBest(sort='priceAsc')}">낮은 가격순</a>
                                            </li>
                                            <li>
                                                <a th:class="${sort == 'priceDesc' ? 'on' : ''}" data-sort="priceDesc"
                                                th:href="@{/wewalk/searchBest(sort='priceDesc')}">높은 가격순</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

						<!-- 여기서 부터 물건 리스트-->
						
	                        <div class="list_goods">
		                        <div class="centered-text" th:if="${paging.isEmpty()}">
								    <p>검색 결과가 없습니다</p>
								</div>
	                            <div class="inner_listgoods">
	                                <ul class="list">                                   
	                                    <li th:each="productDTO, loop : ${paging.dtoList}">
	                                        <div class="item"><!-- 반복문 써야할 부분 -->
	                                            <div class="thumb"><!-- thumbnail picture -->
	                                                <a th:href="@{|/product/detail/${productDTO.id}|}"><!-- 상품 상세 페이지 -->
	                                                    <img th:src="@{'/product/' + ${productDTO.image}}" onerror="this.src='https://res.kurly.com/mobile/img/1808/img_none_x2.png'" width="308" height="396">
	                                                </a>
	                                                <!-- <span class="global_sticker" style="display: none;">
	                                                    <span class="inner_sticker">
	                                                        <span class="bg_sticker"></span>
	                                                        <span class="txt_sticker">
	                                                            <span class="emph_sticker">1+2
	                                                            </span>
	                                                            이벤트
	                                                        </span>
	                                                    </span>
	                                                </span>
	
	                                                <div class="group_btn">paging.dtoList.id
	                                                    <button type="button" name="chk" th:value="${productDTO.id}" class="btn btn_cart">
	                                                        <span class="screen_out">38300</span>
	                                                    </button>
	                                                </div> -->

	                                            </div>

	                                            <a class="info">
	                                                <span class="name" th:text="${productDTO.pname}"><!-- pname -->
	                                                    <!-- [김구원선생] 무농약 콩나물 200g -->
	                                                </span>
	                                                <span class="cost">
	                                                    <span class="price" th:text="${#numbers.formatInteger(productDTO.price, 1, 'COMMA')}"><!-- 1,300 --></span><!-- price -->
	                                                    <!-- <input type="hidden"  th:id="|product_cost${productDTO.id}|" th:value="${productDTO.price}"> -->
	                                                    <span class="dodo">원</span>
	                                                </span>
	                                                <span class="desc" th:text="${productDTO.content}"><!-- 무농약 콩으로 재배한 콩나물(1봉/200g) --></span><!-- content -->
	                                                <span class="tag"></span>
	                                            </a>
	                                        </div>
	                                    </li>	                    
	                                </ul>
	                            </div>
	                        </div>
						

						<!-- 페이징 처리 시 keyword, sort 값 추가 -->
                        <div class="layout-pagination" th:if="${!paging.isEmpty}">
                            <div class="pagediv" 
                            th:with="startNumber=${(paging.number/5)} * 5 + 1,
							endNumber=(${paging.totalPages}>${startNumber}+4)?
							${startNumber}+4 : ${paging.totalPages}">
                                <a th:style="${paging.number == paging.start} ? 'display:none'" th:href="@{/wewalk/searchBest(page=1, sort=${sort})}" class="layout-pagination-button layout-pagination-first-page">맨 처음 페이지로 가기</a>
                                <a th:style="${paging.number == paging.start}?'display:none'" th:href="@{/wewalk/searchBest(page=${paging.number-1}, sort=${sort})}" class="layout-pagination-button layout-pagination-prev-page">이전 페이지로 가기</a>
                                <a th:each="page : ${#numbers.sequence(startNumber, endNumber)}"
									th:classappend="(${page}==${paging.number}) ? 'active'" 
									th:href="@{/wewalk/searchBest(page=${page}, sort=${sort})}">
                                    <span>
                                        <strong class="layout-pagination-button layout-pagination-number" th:classappend="(${page}==${paging.number}) ? '__active'" th:text="${page}"></strong>
                                    </span>
                                </a>                                
                                <a th:style="${paging.number == paging.end} ? 'display:none'" th:href="@{/wewalk/searchBest(page=${paging.number+1}, sort=${sort})}" class="layout-pagination-button layout-pagination-next-page">다음 페이지로 가기</a>
                                <a th:style="${paging.number == paging.end} ? 'display:none'" th:href="@{/wewalk/searchBest(page=${paging.totalPages}, sort=${sort})}" class="layout-pagination-button layout-pagination-last-page">맨 끝 페이지로 가기</a>                               
                            </div>
                        </div>
                    </div>                    
                </div>

                <div class="bg_loading" id="bgLoading">
                    <div class="loading_show"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="cartPut">
        <div class="cart_option cart_type3" style="opacity: 1;">
            <form action="/product/addCart" method="POST" id="contactsForm">
                <div class="inner_option">
                    <div class="in_option">
                        <div class="list_goods">
                            <ul class="list list_nopackage">
                                <li class="on">
                                    <span class="name">
                                        
                                    </span>
                                    <div class="option">
                                        <span class="count">
                                            <button type="button" class="btn down on">수량내리기</button>
                                            <input type="text" name="count" th:value="1" class="inp">
                                            <div style="display:none;">
                                                <input type="hidden" class="count_num" >1
                                            </div>
                                            <button type="button" class="btn up on">수량올리기</button>
                                        </span>
                                        
                                        <span class="price">
                                            <span class="dc_price"></span>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="total">
                            <div class="price">
                                <strong class="tit">합계</strong>
                                <span class="sum">
                                    <span class="num">1,300</span>
                                    <span class="won">원</span>
                                </span>
                            </div>

                            <!-- <p class="txt_point">
                                <span class="ico">적립</span>
                                <span class="point">
                                    구매 시
                                    <strong class="emph">65원 적립</strong>
                                </span>
                            </p> -->
                        </div>
                    </div>

                    <div class="group_btn off layer_btn2">
                        <span class="btn_type2">
                            <button type="button" class="txt_type">취소</button>
                        </span>
                        <span class="btn_type1">
                            <button type="submit" value = "3" class="txt_type">장바구니 담기</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>