<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>주소 찾기</title>
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/common.css?ver=4">
<link rel="stylesheet" href="/css/Shipping_popup.css">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

</head>
<body>

    <div class="section_destination" >
        <div id="inputForm">
                <div class="modify only_pc">
                    <p class="tit_result">배송지 등록이 성공하였습니다.<br></p>
                        <button type="button" class="btn active" onclick="window.close()">닫기</button>
                </div>
        </div>
    </div>
    <div id="wrapp" style="height:100%;">
    </div>


</body>
</html>