<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
 <script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript">

IMP.init('imp56668363');

function requestPay() {
  IMP.request_pay(
    {
    	pg: "html5_inicis.INIpayTest",
        pay_method: "card",
        merchant_uid: "ORD20180131-0000011",   // 주문번호
        name: "노르웨이 회전 의자",
        amount: 64900,                         // 숫자 타입
        buyer_email: "gildong@gmail.com",
        buyer_name: "홍길동",
        buyer_tel: "010-4242-4242",
        buyer_addr: "서울특별시 강남구 신사동",
        buyer_postcode: "01181"
    },
    function (rsp) {
      // callback
      //rsp.imp_uid 값으로 결제 단건조회 API를 호출하여 결제결과를 판단합니다.
    }
  );
}
</script>
</head>
<body>
<button onclick="requestPay()">테스트</button>
</body>
</html>