<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>


<link rel="stylesheet" href="/main/reset.css">
    <link rel="stylesheet" href="/header.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script defer src="/main/common.js"></script>
    <script defer src="/main/contents.js"></script>
    <script defer src="/main/visual.js"></script>
</head>
<body>
	<div th:replace="header :: headerFragment"></div>


</body>
</html>