<!DOCTYPE html>
<!-- layout을 상속받음 -->
<html layout:decorate="~{layout}">
<meta charset="UTF-8">

<!-- layout.html 에 있는 부분과 이름 맞춰줌 -->
<div layout:fragment="content" class="containter my-3">
	<table class="table">
	<thead class="table-dark">
		<tr>
			<th>번호</th>
			<th style="width: 50%">이메일</th>			
			<th>권한</th>
			<th>닉네임</th>
		</tr>
	</thead>
	
	<!-- 
	paging.totalElements	전체 게시물 개수
	paging.number	현재 페이지 번호
	paging.size	페이지당 게시물 개수
	loop.index	나열 인덱스(0부터 시작)
	번호 = 전체데이터 갯수 - (현재페이지 * 페이지당 게시물 갯수) - 나열인덱스

	paging.isEmpty		페이지 존재 여부 (게시물이 있으면 false, 없으면 true)
	paging.totalElements	전체 게시물 개수
	paging.totalPages	전체 페이지 개수
	paging.size		페이지당 보여줄 게시물 개수
	paging.number		현재 페이지 번호
	paging.hasPrevious	이전 페이지 존재 여부
	paging.hasNext		다음 페이지 존재 여부 -->
	<tbody>
		<tr class="text-center" th:each="siteUser, loop : ${paging}">
			<td th:text="${paging.totalElements - (paging.number * paging.size) - loop.index}"></td>
			<td class="text-start">
				<!-- <a th:href="@{/user/login}" sec:authorize="isAnonymous()" th:text="${question.subject}"></a> -->
				<a th:href="@{|/admin/userDetail/${siteUser.id}|}" th:text="${siteUser.email}"></a>
				
				<!-- 답글 갯수 <span class="text-danger small ms-1" th:if="${#lists.size(question.answerList)>0}"
					th:text="${#lists.size(question.answerList)}"></span> -->
			</td>
			<td>
			<span th:text="${siteUser.role}"></span>
<!-- 			<span th:if="${question.author!=null}" 
			th:text="${question.author.userName}"></span> -->
			<!-- 생성일자 표시 <td th:text="${#temporals.format(question.createdDate, 'yyyy-MM-dd HH:mm')}">작성일 </td> -->
			<td th:text="${siteUser.userName}"></td>
		</tr>
	</tbody>
	</table>
	
	<!-- 페이징 처리 -->
	<div th:if="${!paging.isEmpty()}">
	
	<!-- 페이징은 5개씩 -->
		<nav aria-label="Page navigation">
			<ul class="pagination justify-content-center"
				th:with="startNumber=${(paging.number/5)} * 5 + 1,
				endNumber=(${paging.totalPages}>${startNumber}+4)?
				${startNumber}+4 : ${paging.totalPages}">
				
				<!-- << -->
				<li>
					<a class="page-link" th:style="${paging.first} ? 'display:none'" th:href="@{/admin/userList?page=1}">&laquo;</a>
				</li>
			
				<!-- < -->
				<li class="page-item"
					th:style="${paging.first}?'display:none'">
					<a class="page-link"
						th:href="@{/question/list(page=${paging.number})}">&lsaquo;</a>
				</li>
				
				<!-- 12345 -->
				<li class="page-item" 
					th:each="page : ${#numbers.sequence(startNumber, endNumber)}"
						th:classappend="(${page}==${paging.number}+1) ? 'active'">
					<a class="page-link"
						th:href="@{/admin/userList(page=${page})}" th:text="${page}">
					</a>
				</li>
				
				<!-- > -->
				<li class="page-item"
					th:style="${paging.last} ? 'display:none'">
					<a class="page-link"
						th:href="@{/admin/userList(page=${paging.number}+2)}">&rsaquo;</a>
				</li>
				
				<!-- >> -->
				<li>
					<a class="page-link" th:style="${paging.last} ? 'display:none'" 
					th:href="@{/admin/userList(page=${paging.totalPages})}">&raquo;</a>
				</li>
			</ul>
		</nav>
	
	</div>
	
	<a th:href="@{/admin/createUser}" class="btn btn-primary">유저 등록하기</a>
	
</div>

</html>
